*{
	margin :0;
	padding:0;
	}

body{
	background-color: #DDD;
	overflow-x: hidden; 
    
}



nav {
	width: 100%;
	height: 80px;
	background-color: black ;
}


ul{
    margin-left: 300px;
}

ul li {
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 80px;
}
ul li a {
	display: block;
	text-decoration: none;
	font-size: 15px;
	font-family: 'Damion', cursive;
	color: #fff  ; 
	padding: 0 20px;
}

ul li a:hover {
	color: #c79c60;
}
.logo img {
	position: absolute;
	margin-top: 15px;
	margin-left: 10px;
}

.gold-text { color: #c79c60; }
.header2 {
  margin-left: 330px;
  font-family: 'Times New Roman', serif; /**/
  font-size: 45px;
  text-transform: uppercase;
  margin-top:  250px;

 
}

 .header-line { 
	width: 80px;
}

.tm-handwriting-font
{
    font-family: 'Damion', cursive; 
   

}



@keyframes text {
	0%{
		color: #DDD;
		margin-bottom: -80px;
	}
	30%{
		letter-spacing: 25px;
		margin-bottom: -40px;
	}
	
}


.HAHA{
	margin-left: 500px;
	font-family: "Times New Roman";
	 font-size: 50px;
    color: #fff;
    margin-top: 200px;
   margin-left: 467px;
   animation: text 3s 1;
    

}


.cutColor{
		background-color: #282726;
		background-image: url(imageWeb/recept.jpg) ;
		background-repeat: no-repeat;
		background-size: cover;

}

.container
{
	margin: 50px auto 100px;
}


.description-container
{
	max-width: 800px;
	margin: 50px auto 100px;
	background:rgba(255,255,255,.5); 
	box-shadow: 0 15px 20px rgba(0,0,0,.2);
   	padding: 30px;

}
.description-container p
{
	letter-spacing: 1px;
	word-spacing: 4px;
	text-align: justify;
	font-family: bold;
	
}
.a3taq
{
	max-width: 800px;
	margin: 50px auto 100px;
}
.description-container .floating-image
{
	max-width: 400px;
}

.description-container .floating-image.right
{
	float: right;
	margin-left: 30px;
	margin-bottom: 10px;
}

.description-container .floating-image.left
{
	float: left;
	margin-right: 15px;
	margin-left: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:wght@100&display=swap');

.tt{
/*	background-image: url(imageWeb/hotel2.jpg);*/
	font-family: 'Josefin Sans', sans-serif;
}

.wrapper h1{
	font-family: 'Allura', cursive;
    font-size: 48px;
    margin-bottom: 60px;
    text-align: center;
    background:rgba(255,255,255,.4); 
	box-shadow: 0 15px 20px rgba(0,0,0,.2);
	padding: 30px;

}
.team{
	display: flex;
	text-align: center;
	width: auto;
    justify-content: center;
    flex-wrap: wrap;
}
.ayah p
{
	max-width: 800px;
	margin: 50px auto 50px;
	letter-spacing: 1px;
	word-spacing: 4px;
	text-align: justify;
	font-family: bold;

} 

.team .team_member
{
	background-color: #fff;
	margin: 5px;
	margin-bottom: 50px;
	width: 300px;
	padding: 20px;
	line-height: 20px;
	color: #8e8b8b;
	position: relative;
}
 .team .team_member h3
 {
 	font-size: 26px;
 	margin-top: 50px;
 }

  .team .team_member p.role
  {
  	color: #ccc;
  	font-size: 12px;
  	text-transform: uppercase;
  	margin: 12px 0;
  }
.light
{
	margin:0;
	padding:0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50px;
	background: #DDD;
	font-family: consolas;
}
.too
{
	
	background-image: url(imageWeb/tm-brown-button.png);
	 width: 196px;
    height: 46px;  
    font-size: 16px;
    color: #c79c60;
     align-items: center;
     margin: 40px auto;
     display: flex;
     text-transform: uppercase;
     text-decoration: none;
     letter-spacing: 3px;
     justify-content: center;
}
.too:hover
{
	color: white;
}
.rara
{
	font-size: 25px;
	line-height: 1.4;
	letter-spacing: 0.5rem;
	text-align: center;
	color: #c79c60;
	max-width: 800px;
	margin: 20px auto 60px;
	background:rgba(255,255,255,.5); 
	box-shadow: 0 15px 20px rgba(0,0,0,.2);
   	padding: 30px;
}
.lili p{
	max-width: 800px;
	margin: 50px auto 50px;
	letter-spacing: 1px;
	word-spacing: 4px;
	text-align: justify;
	font-family: bold;
}
.maindiv
{
	width: 70%;
	height: 400px;
	left: 50%;
	top: 50%;
	transform: translate(21.5%);
	background-image: url(imageWeb/9.jpg);
	background-size: 100% 100%;
	box-shadow: 1px 2px 10px #000;
	animation: slider 10s infinite linear ;
}
h1
{
	text-align: center;
	letter-spacing: 3px;
	color:  #c79c60;
}
.maindiv2
{
	width: 70%;
	height: 400px;
	left: 50%;
	top: 50%;
	transform: translate(21.5%);
	background-image: url(imageWeb/Hotel-SuperiorTwinRoom-Kitchenette-Darwin.jpg);
	background-size: 100% 100%;
	box-shadow: 1px 2px 10px #000;
	animation: sliderr 10s infinite linear ;
}
.maindiv3{
	width: 70%;
	height: 400px;
	left: 50%;
	top: 50%;
	transform: translate(21.5%);
	background-image: url(imageWeb/TWIN-SEA-VIEW-RENOVATION-2016.jpg);
	background-size: 100% 100%;
	box-shadow: 1px 2px 10px #000;
	animation: sliderrr 10s infinite linear ;
}
@keyframes slider{
	0%{
          background-image: url(imageWeb/9.jpg);
	}

	35%{
          background-image: url(imageWeb/superior-double-new.jpg);
	}
	75%{
          background-image: url(imageWeb/8.jpg); 
	}
	
}

@keyframes sliderr{
	0%{
          background-image: url(imageWeb/Hotel-SuperiorTwinRoom-Kitchenette-Darwin.jpg);
	}

	35%{
          background-image: url(imageWeb/superior-room.jpg);
	}
	75%{
          background-image: url(imageWeb/10.jpg); 
	}
	
}
@keyframes sliderrr{
	0%{
          background-image: url(imageWeb/TWIN-SEA-VIEW-RENOVATION-2016.jpg);
	}

	35%{
          background-image: url(imageWeb/Dusit-Thani-Hua-Hin_Deluxe-Room.jpg);
	}
	75%{
          background-image: url(imageWeb/00690813_img_14_1600x.jpg); 
	}
}


.contact
{
	position: relative;
	min-height: 100vh;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 800px;
	margin: 50px auto 100px;
	background:rgba(255,255,255,.5); 
	box-shadow: 0 15px 20px rgba(0,0,0,.2);



}
.contact .content
{
	max-width: 800px;
	text-align: center;
}

.contact .content h2
{
	font-size: 36px;
	font-weight: 500;
	color: #c79c60;
}

.contact .content p
{
	font-weight: 300;
}

.container2
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.container2 .contactInfo
{
	width: 50%;
	display: flex;
	flex-direction: column;
}

.container2 .contactInfo .box
{
	position: relative;
	padding: 20px 0;
	display: flex;
}

.container2 .contactInfo .box .icon
{
	min-width: 60px;
	height: 60px;
	background: #c79c60;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}

.container2 .contactInfo .box .text2
{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	flex-direction: column;
	font-weight: 300;
}


.container2 .contactInfo .box .text2 h3
{
	font-weight: 300;
	color: #8B4513;
}

.contactForm
{
	width: 40%;
	padding: 40px;
	background: #c79c60;
}

.contactForm h2
{
	font-size: 30px;
	color: #333;
	font-weight: 500;
}

.contactForm .inputBox
{
	position: relative;
	width: 100%;
	margin-top: 10px;

}
.contactForm .inputBox input,
.contactForm .inputBox  textarea
{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border:none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;

}

.contactForm .inputBox span
{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;

}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox textarea:focus ~ span

{
	color: #e91e63;
	font-size: 12px;
	transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
	width: 100px;
	background:#8B4513;
	border:none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}
.lala
{
	font-family: 'Allura', cursive;
    font-size: 20px;
    margin-bottom: 60px;
    text-align: center;
    background:rgba(255,255,255,.4); 
	padding: 30px;
}